[submodule "references/HairMapper"]
	path = references/HairMapper
	url = https://github.com/akami/HairMapper.git
[submodule "references/Barbershop"]
	path = references/Barbershop
	url = https://github.com/akami/Barbershop.git
[submodule "references/StyleGAN3"]
	path = references/StyleGAN3
	url = https://github.com/akami/stylegan3.git
